.header {
  font-weight:bold;
  margin-top:10px;
}

.dataBlock {
  font-family: monospace;
  background-color:#eee;
  padding:10px 20px;
}

.dataBlock .keyword {
  color:#ea1bc0;
  font-weight:bold;
}
.dataBlock .number,
.dataBlock .address,
.dataBlock .raw,
.dataBlock .hex,
.dataBlock .bytes,
.dataBlock .literal {
  color:#b3004f;
}
.dataBlock .title {
  color: #47BAA7;
  font-weight:bold;
}
.noMargin .dataBlock>div{
  margin-left:0px;
}

.dataBlock details[open]>summary>span>.args {
  display:none;
}

.dataBlock ::marker {
  color: #aaa;
}

.dataBlock summary {
  list-style-position: outside;
}

.dataBlock div {
  margin-left:20px;
}
