.dataBlock {
  font-family: monospace;
  background-color:#eee;
  padding:10px 20px;
}
.dataBlock li {
  margin-left:20px;
  list-style-type: none;
}

.dataBlock .keyword {
  color:#ea1bc0;
  font-weight:bold;
}
.dataBlock .number,
.dataBlock .address,
.dataBlock .raw,
.dataBlock .hex,
.dataBlock .bytes,
.dataBlock .literal {
  color:#b3004f;
}
.dataBlock .title {
  color: #47BAA7;
  font-weight:bold;
}

.dataBlock ul {
  -webkit-margin-start:0px;
  margin-inline-start:0px !important;
}
.dataBlock .noMargin,
.dataBlock .noMargin>li {
  margin-left:0px;
}
.header {
  font-weight:bold;
  margin-top:10px;
}

