.header {
  font-weight:bold;
  margin-top:10px;
}

.parties div {
  text-overflow:ellipsis;
  overflow:hidden;
  word-wrap:normal;
}
.icon {
  text-align:center;
}
.transactionDetails {
  margin-bottom:20px;
}
.transactionDetails div {
  text-overflow:ellipsis;
  overflow:hidden;
  word-wrap:normal;
}

.dataBlock {
  font-family: monospace;
  background-color:#eee;
}